html {
    font-size: calc(10vw / 3.9);
}

html, body {
    overflow: hidden;
    height: 100%;
}

body {
    font-size: 1.6rem;
    line-height: 2rem;
    font-family:  "Steppe", Georgia, sans-serif;
    background-color: #000;
    color: #fff;
}

img {
  display: block;
  width: 100%;
  height: 100%;
}