@font-face {
  font-family: Steppe;
  src: url("../../../assets/fonts/Steppe-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: Steppe;
  src: url("../../../assets/fonts/Steppe-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: Steppe;
  src: url("../../../assets/fonts/Steppe-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: block;
}
