@use "sass:math";

$baseHeight: 844px;

@function vertical-sizing($value) {
  $calculated: math.div($value, $baseHeight) * 100;

  @return $calculated + vh;
}

@mixin backing($color: rgba(243, 217, 255, 0.15), $radius: 1.6rem) {
  background: $color;
  border-radius: $radius;
}

@mixin pseudoArrow($right: 0) {
  position: absolute;
  right: $right;
  top: calc(50% + 3px);

  display: block;
  content: "";

  width: 14px;
  height: 14px;

  border-color: #fff;
  border-width: 2px;
  border-style: solid;
  border-radius: 2px;
  border-bottom: none;
  border-left: none;

  opacity: 0.7;
  rotate: 45deg;
  transform: translate(-50%, -50%);
}
