.content {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 11;
  padding: 2rem 0 3rem;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1.2rem;
}
