@import "src/app/styles/mixins";

.head {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: vertical-sizing(10px);
  margin-bottom: vertical-sizing(30px);
}

.topItem {
  padding: vertical-sizing(16px) 1.6rem;
  margin-bottom: vertical-sizing(30px);

  @include backing
}

.active {
  margin-bottom: vertical-sizing(20px);
}

.farmList {
  height: vertical-sizing(334px);
}
