@import "src/app/styles/mixins";

.header {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.image {
  margin-bottom: vertical-sizing(12px);
}

.title {
  margin-bottom: vertical-sizing(24px);
}

.level {
  margin-bottom: vertical-sizing(16px);
}

.link {
  margin-bottom: vertical-sizing(24px);
}

.squadInfo {
  @include backing;

  padding: vertical-sizing(16px) 1.6rem;
  margin-bottom: vertical-sizing(15px);
}

.counts {
  display: flex;
  align-items: center;
  padding-top: vertical-sizing(14px);
  margin-bottom: vertical-sizing(30px);
}

.count {
  flex: 1;
  padding-left: 4rem;

  &:first-child {
    padding-left: 2.8rem;
  }

  &__divider {
    height: 5rem;
    width: 1px;
    background-color: rgb(255 255 255 / 50%);
    margin-left: 3.5rem;
  }
}

.buttons {
  display: flex;
  flex-direction: column;
  row-gap: vertical-sizing(10px);
}

.list {
  border-radius: 0;
  margin-bottom: -(vertical-sizing(32px));
  height: vertical-sizing(190px);
}
