@import "src/app/styles/mixins";

.list {
  height: vertical-sizing(338px);
}

.wrapper {
  position: relative;
  display: flex;
  align-items: center;
  column-gap: 0.8rem;
  padding-right: 2.4rem;

  @include pseudo-arrow;

  &_noArrow {
    &::before {
      content: none;
    }
  }
}

.info {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.inner {
  display: flex;
  flex-direction: column;
}
