@import "src/app/styles/mixins";

.pictures {
  display: flex;
  justify-content: center;
  margin: vertical-sizing(55px);

  & > div:last-child {
    margin-left: -2rem;
  }
}

.title {
  margin-bottom: vertical-sizing(180px);
}

.additional {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  row-gap: vertical-sizing(20px);
  margin: 0 auto vertical-sizing(65px) auto;
  width: 27.6rem;
}
