.container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color: #000;
    height: 100vh;
    padding: 0 var(--layout-x-padding);
}