.wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
    align-items: center;
    position: relative;
}

.featureTab {
    color: #fff;
    font-size: 1.2rem;
    font-weight: 700;
}