@import "src/app/styles/mixins";

.header {
  display: flex;
  align-items: center;
  flex-direction: column;
  row-gap: vertical-sizing(8px);
  margin-bottom: vertical-sizing(24px);
}

.leader {
  margin-bottom: vertical-sizing(94px);
}

.subtitle {
  margin-bottom: 2rem;
}

.friends {
  position: relative;
  margin-bottom: vertical-sizing(20px);
}
