@import "src/app/styles/mixins";

.header {
  display: flex;
  flex-direction: column;
  row-gap: vertical-sizing(10px);
  align-items: center;
  margin-bottom: vertical-sizing(28px);
}

.leader {
  margin-bottom: vertical-sizing(94px);
}

.subtitle {
  margin-bottom: 2rem;
}

.friends {
  height: vertical-sizing(334px);
  margin-bottom: vertical-sizing(20px);
}