.moneyWrapper {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    align-items: center;
    margin-bottom: 96px;
}

.footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

.resources {
    display: grid;
    grid-template-columns: 110px 1fr;
    column-gap: 8px;
}

.borderWrapper {
    padding: 1px;
    border-radius: 16px;
    background: linear-gradient(224.11deg, #FFFFFF 7.7%, rgba(255, 255, 255, 0) 90.12%);
}

.pageButton {
    height: 63px;
    border-radius: 16px;
    row-gap: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background: radial-gradient(64.1% 50% at 50% 39.32%, #CCB5FF 0%, #996BFF 100%),
                radial-gradient(46.3% 75.26% at 50% 15.39%, #F5F0FF 0%, #E2D6FF 100%),
                linear-gradient(224.11deg, #FFFFFF 7.7%, rgba(255, 255, 255, 0) 90.12%);
}

.pageSign {
    font-size: 12px;
    font-weight: 700;
}