.moneyWrapper {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    align-items: center;
    margin-bottom: 96px;
}

.footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

.resource-management {
    display: flex;
    justify-content: space-between;
    column-gap: 12px;
}