@import "src/app/styles/mixins";

.actionButtonLink {
  display: block;
  width: 100%;
  margin-bottom: vertical-sizing(44px);
}

.moneyWrapper {
  display: flex;
  flex-direction: column;
  row-gap: vertical-sizing(16px);
  align-items: center;
  margin-bottom: vertical-sizing(56px);
}

.coin {
  position: relative;
  height: vertical-sizing(286px);
  margin-bottom: vertical-sizing(60px);
}

.coinGlow {
  z-index: -1;
}

.footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: vertical-sizing(10px);
}

.resources {
  display: grid;
  grid-template-columns: 11rem 1fr;
  column-gap: 0.8rem;
}

.borderWrapper {
  padding: 1px;
  border-radius: 16px;
  background: linear-gradient(224.11deg, #fff 7.8%, rgb(255 255 255 / 0%) 90.12%);
}

.pageButton {
  height: 6.3rem;
  border-radius: 16px;
  row-gap: 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: radial-gradient(64% 50% at 50% 39.32%, #ccb5ff 0%, #996bff 100%),
    radial-gradient(46.2% 75.26% at 50% 15.4%, #f5f0ff 0%, #e2d6ff 100%),
    linear-gradient(224deg, #fff 7.8%, rgb(255 255 255 / 0%) 90.12%);
}

.pageSign {
  font-size: 1.2rem;
  font-weight: 700;
}
