@import "src/app/styles/mixins";

.list {
  height: vertical-sizing(443px);
  margin-bottom: -(vertical-sizing(32px));
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.item {
  position: relative;
  display: flex;
  align-items: center;
  column-gap: 0.8rem;

  &::before {
    @include pseudo-arrow
  }
}

.inner {
  display: flex;
  flex-direction: column;
  row-gap: 0.4rem;
}