.wrapper {
    display: flex;
    align-items: center;
    column-gap: 5px;
}

.sign {
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    background-image: radial-gradient(rgb(255, 248, 181), rgb(255, 222, 107));
}

.small {
    font-size: 14px;
    font-weight: 300;
}