.level {
  display: flex;
  align-items: center;
  gap: 0.4rem;

  &__dot {
    position: relative;

    &,
    &::before,
    &::after {
      border-radius: 50%;
    }

    &,
    &::before {
      height: 1.1rem;
      width: 1.1rem;
    }

    &::before,
    &::after {
      display: block;
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    &::after {
      width: 0.85rem;
      height: 0.85rem;
    }
  }
}

.newbie {
  &,
  &::after {
    background: linear-gradient(0deg, rgb(255 255 255 / 10%), rgb(255 255 255 / 10%)),
      linear-gradient(180deg, #e2e2e2 -41.67%, #adadad 90.66%);
  }

  &::before {
    background: linear-gradient(224.11deg, #fff 7.7%, rgb(255 255 255 / 0%) 90.12%);
  }
}

.pro {
  &,
  &::after {
    background: linear-gradient(0deg, rgb(255 255 255 / 10%), rgb(255 255 255 / 10%)),
      linear-gradient(180deg, #fff8b5 -41.67%, #ffde6b 90.66%);
  }

  &::before {
    background: linear-gradient(224.11deg, #fff 7.7%, rgb(255 255 255 / 0%) 90.12%);
  }
}
