@import "src/app/styles/mixins";

.coiners {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: vertical-sizing(68px);
  padding: 0 2rem;

  @include backing;

  &::before {
    @include pseudo-arrow(2.5rem);
  }
}

.inner {
  display: flex;
  align-items: center;
  column-gap: 0.8rem;
}

.squads {
  display: flex;

  & > div:not(:first-child) {
    margin-left: -0.8rem;
  }
}
