@import "src/app/styles/mixins";

.wrapper {
  position: relative;
  overflow: hidden;

  &::before {
    @include pseudo-arrow(87%, 1, -135deg);
  }

  &::after {
    @include pseudo-arrow(5%, 1);
  }
}

.slide {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.embla {
  display: flex;
}

.picture {
  height: vertical-sizing(100px);
  width: vertical-sizing(100px);
}
