@import 'src/app/styles/mixins';

.bar {
    margin-bottom: vertical-sizing(8px);
}

.button {
    margin-bottom: vertical-sizing(50px);
}

.header {
    font-size: 4.2rem;
    margin-bottom: vertical-sizing(25px);
}

.list {
    gap: 1rem;
    z-index: 1;
    display: flex;
    flex-wrap: wrap;
    overflow-y: auto;
    scroll-behavior: smooth;
    padding-bottom: vertical-sizing(15px);
    margin-bottom: -(vertical-sizing(34px));
    height: vertical-sizing(580px);
}

.item {
    display: flex;
    border-radius: 6px;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 1rem;
    padding: 0.5rem;
    background-color: rgb(16 16 16 / 30%);
}

.picture {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15.2rem;
    height: 15.2rem;
    border-radius: 1.2rem;
    background: rgb(153 107 255 / 100%);
}

.info {
    display: flex;
    justify-content: space-between;
}

.name {}

.price {
    color: #996BFF;
    text-align: right;
}
