.header {
    font-size: 4.2rem;
    margin-bottom: 2.5rem;
    margin-top: 5rem;
}

.list {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    overflow-y: auto;
    z-index: 1;
    padding-bottom: 1.5rem;
    scroll-behavior: smooth;
}

.item {
    border-radius: 6px;
    background-color: rgb(16 16 16 / 30%);
    padding: 0.5rem;
    height: 20.1rem;
    flex: 0 1 calc(50% - 0.5rem);
    row-gap: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.picture {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15.2rem;
    border-radius: 12px;
    background: rgb(153 107 255 / 100%);
}

.info {
    display: flex;
    justify-content: space-between;
}

.name {
}

.price {
    color: #996BFF;
    text-align: right;
}
