@import 'src/app/styles/mixins';

.header {
  display: flex;
  flex-direction: column;
  row-gap: vertical-sizing(15px);
  margin-bottom: vertical-sizing(35px);
}

.button {
  margin-bottom: vertical-sizing(15px);
}

.squadList {
  height: vertical-sizing(443px);
  margin-bottom: -(vertical-sizing(32px));
}