@import "src/app/styles/mixins";

.item {
  position: relative;
  display: flex;
  align-items: center;
  column-gap: 1rem;
}

.pic {
  width: 5rem;
  height: 5rem;
  background-color: rgb(243 243 245 / 10%);
  object-fit: cover;
}

.text {
  display: flex;
  flex-direction: column;
}

.subtitle {
  font-size: 1.4rem;
  color: rgb(255 255 255 / 70%);
  font-weight: 300;
}
