@import "src/app/styles/mixins";

.item {
  position: relative;
  display: flex;
  align-items: center;
  column-gap: 1rem;
}

.pic {
  width: 5rem;
  height: 5rem;
  background-color: rgba(243, 243, 245, 0.1);
  object-fit: cover;
}

.text {
  display: flex;
  flex-direction: column;
}

.subtitle {
  font-size: 1.4rem;
  color: rgba(255, 255, 255, 0.7);
  font-weight: 300;
}
