.container {
    border-radius: 1.2rem;
    display: flex;
    height: 4.6rem;
    gap: 1rem;
    padding: 0.5rem;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    background: #24212A;
}

.button {
    position: relative;
    z-index: 20;
    color: transparent;
    font-weight: 500;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    border-radius: 12px;
    background: transparent;
    transition: background-color 0.3s ease;
}

.active {
    background: #996BFF;
}