@import "src/app/styles/mixins";

.wrapper {
  flex: 1;
  padding-top: vertical-sizing(20px);
  margin-bottom: -(vertical-sizing(32px));
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.switch {
  margin-bottom: vertical-sizing(16px);
}

.back {
  border-radius: 0;
  height: vertical-sizing(338px);
}