@import "src/app/styles/mixins";

.wrapper {
  flex: 1;
  padding-top: vertical-sizing(50px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title {
  margin-bottom: vertical-sizing(10px);
}

.counter {
  margin-bottom: vertical-sizing(4px);
  opacity: 0.3;
  text-align: center;
}

.remain {
  margin-bottom: vertical-sizing(8px);
}

.list {
  margin-bottom: -(vertical-sizing(32px));
}

.switch {
  margin-bottom: vertical-sizing(16px);
}

.back {
  border-radius: 0;
  height: vertical-sizing(338px);
}

.glow {
  opacity: 0.5;
}
