.wrapper {
  display: flex;
}

.picture {
  width: 7rem;
  height: 7rem;
  border-radius: 6px;
  background: rgb(243 243 245 / 10%);
  object-fit: cover;
}

.info {
  flex: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 3rem 0 1.5rem;

  &::after {
    display: block;
    content: "";
    position: absolute;
    border-left: 2px solid rgb(255 255 255 / 70%);
    border-bottom: 2px solid rgb(255 255 255 / 70%);
    border-radius: 2px;
    height: 1.4rem;
    width: 1.4rem;
    right: 7%;
    top: 40%;
    transform: rotate(225deg);
  }
}

.infoTitle {
  color: rgb(255 255 255 / 70%);
  line-height: 24px;
}

.infoCount {
  font-size: 1.4rem;
  line-height: 24px;
}
