.wrapper {
    position: absolute;
    left: 0;
    width: 100vw;
    height: 48vh;
}

.glow {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    /*background: radial-gradient(at center, rgba(142, 71, 100, 1.0), rgba(235, 207, 118, 1.0));*/
    /*background: radial-gradient(46.4% 75.2% at 50% 15.4%, rgb(204, 181, 255) 0%, rgb(153, 107, 255) 100%);*/
    /*background: radial-gradient(46.2% 75.26% at 50% 15.38%, #CCB5FF 0%, #996BFF 100%), #D9D9D9;*/
    background: radial-gradient(circle farthest-side at center top, #CCB5FF 0%, #996BFF 100%), #D9D9D9;

    &:nth-child(1) {
        filter: blur(46px);
    }

    &:nth-child(2) {
        filter: blur(225px);
    }

    &:nth-child(3) {
        background: #fff;
        width: 60vw;
        height: 60vw;
        left: 50%;
        filter: blur(36px);
        transform: translateX(-50%);
        top: 76px;
    }



    /*background: #372759;*/
    /*filter: blur(45.7px);*/


    /*background: #483377;*/
    /*filter: blur(45.7px);*/


    /*background: #64518E;*/
    /*filter: blur(45.7px);*/


    /*background: linear-gradient(0deg, #D9D9D9, #D9D9D9), #64518E;*/
    /*filter: blur(70px);*/


   /* &:nth-child(1) {
        background: #372759;
    filter: blur(46px);
        !*filter: blur(46px);*!
    }

    &:nth-child(4) {
        background: #483377;
    filter: blur(46px);
        !*filter: blur(225px);*!
    }

    &:nth-child(2) {
        background: #64518E;
    filter: blur(46px);
        !*filter: blur(225px);*!
    }

    &:nth-child(3) {
        background: linear-gradient(0deg, #D9D9D9, #D9D9D9), #64518E;
        filter: blur(70px);
        opacity: 0.35;
    }

    &:nth-child(5) {
        background: #fff;
        width: 60vw;
        height: 60vw;
        left: 50%;
        filter: blur(36px);
        transform: translateX(-50%);
        top: 76px;
    }*/
}

.top {
    top: 0;
    transform: translateY(-50%);
}

.middleTop {
    top: 0;
}

.center {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.bottom {
    bottom: 0;
    transform: translateY(50%);
}