@import "src/app/styles/mixins";

.wrapper {
  position: absolute;
  left: 0;
  width: 100vw;
  height: 100vw;
}

.glow {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: radial-gradient(circle, #ccb5ff 0%, #996bff 100%), #d9d9d9;

  &:nth-child(1) {
    filter: blur(46px);
  }

  &:nth-child(2) {
    filter: blur(225px);
  }

  &:nth-child(3) {
    background: #fff;
    width: 23.4rem;
    height: 23.4rem;
    left: 50%;
    filter: blur(36px);
    transform: translateX(-50%);
    top: vertical-sizing(76px);
  }
}

.top {
  top: 0;
  transform: translateY(-50%);
}

.middleTop {
  top: 0;
}

.center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.bottom {
  bottom: 0;
  transform: translateY(50%);
}
