.circle {
  background: radial-gradient(46.3% 75.26% at 50% 15.39%, #ccb5ff 0%, #996bff 100%), #d9d9d9;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
}
